@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SamsungOne';
	src: local('SamsungOne-400'), url('./assets/fonts/SamsungOne/SamsungOne-400.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'SamsungOne';
	src: local('SamsungOne-700'), url('./assets/fonts/SamsungOne/SamsungOne-700.ttf');
	font-weight: 700;
}

:root {
	font-family: SamsungOne, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}